.footer {
  padding: 40px;
  font-size: 0.75rem;
  color: var(--nord4);
  text-align: center;
  margin: 50px auto;
  max-width: 50%;
}

.footer a {
  line-height: 1rem;
}

.footer img {
  border-radius: 0;
  width: 88px;
  height: 31px;
  margin: 0;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  image-rendering: -webkit-optimize-contrast;
}
