code {
  font-family: "Monaspace Xenon", monospace;
  background-color: oklch(37% 0.01 75);
  color: oklch(95% 0.05 75);
  padding: 1px 3px;
  font-size: 0.875rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-variant-ligatures: discretionary-ligatures;
}
pre {
  font-family: "Monaspace Xenon", monospace;
  display: block;
  padding: 14px;
  margin: 0 0 18px;
  line-height: 16px;
  font-size: 0.75rem;
  border: 1px solid oklch(39% 0.01 75);
  border-radius: 10px;
  background-color: oklch(37% 0.01 75);
  white-space: pre-wrap;
  word-wrap: break-word;
}
pre code {
  font-family: "Monaspace Xenon", monospace;
  background-color: oklch(37% 0.01 75);
  font-size: 0.875rem;
  padding: 0;
}

.language-zig * {
  font-family: "Monaspace Xenon", monospace;
  color: oklch(95% 0.05 75);
  font-size: 0.875rem;
}

.language-zig .token.class-name {
  font-family: "Monaspace Xenon Bold", monospace;
  color: oklch(76% 0.2 0);
}

.language-zig .token.function {
  font-family: "Monaspace Xenon", monospace;
  color: oklch(76% 0.183 30);
}

.language-zig .token.keyword {
  font-family: "Monaspace Xenon", monospace;
  color: oklch(76% 0.23 158);
}

.language-zig .token.number {
  font-family: "Monaspace Xenon", monospace;
  color: oklch(76% 0.17 209);
}

.language-zig .token.operator {
  font-family: "Monaspace Xenon", monospace;
  color: oklch(76% 0.1 75);
}

.language-zig .token.punctuation {
  font-family: "Monaspace Xenon", monospace;
  color: oklch(76% 0.01 75);
}

.language-zig .token.comment {
  font-family: "Monaspace Radon", monospace;
  color: oklch(76% 0.05 75);
}

.language-zig .token.builtin {
  font-family: "Monaspace Xenon", monospace;
  color: oklch(76% 0.207 317);
}

.language-zig .token.string {
  font-family: "Monaspace Xenon", monospace;
  color: oklch(76% 0.05 200);
}
