.container {
	background-color: oklch(37% 0.01 75);
	border-radius: 10px;
	box-shadow: 0 0 10px oklch(0% 0 0 / 20%); /* subtle shadow */
	margin: 50px auto; /* centers the container horizontally */
	max-width: 768px; /* maximum width of the container */
	padding: 24px; /* inner spacing */
}

body {
    background-color: #312d28;
    color: oklch(100.0% 0 0);
}

h1 {
    margin-top: 0;
    font-family: 'Young Serif', serif;
    font-size: 40px;
    text-align: left;
}

.button-container {
	display: flex; 
	justify-content: center;
	margin-top: 20px;
}

.button {
	background-color: oklch(37% 0.01 75);
    box-shadow: 0 0 10px oklch(0% 0 0 / 20%);
	border: none;
	border-radius: 5px;
	color: oklch(100% 0 0);
	cursor: pointer;
	margin: 0 10px;
	padding: 10px 20px; 
	text-decoration: none;
}

.button:hover {
	background-color: oklch(35% 0.01 75);
}

.social-container {
    background-color: #312d28;
	border-radius: 40px;
	box-shadow: 0 0 10px rgba(49, 45, 40, 0.9);
    display: flex;
	justify-content: center;
    position: fixed;
	align-items: center;
    bottom: 12px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 280px;
}

.social-container a {
	display: inline-block;
}

.social-container img {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0;
    padding-bottom: 0;
	max-width: 24px;
	height: auto;
}

.center {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr minmax(0, 8.5in) 1fr;
}

.center * {
    grid-column: 2/3;
}

.center-on-screen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.tag {
    display: inline-grid;
    font-size: 11px;
    padding: 1px 3px 1px 3px;
    border: 2px solid #312d28;
    border-radius: 4px;
    margin-top: 2px;
}

.post {
    background-color: oklch(37% 0.01 75);
	border-radius: 10px;
	box-shadow: 0 0 10px oklch(0% 0 0 / 20%);
	max-width: 768px;
	padding: 24px;
}

.post * {
    color: oklch(100.0% 0 0);
}

.title {
    display: inline-grid;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 3px
}

.page-title {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 7px;
    text-align: center;
}

.back {
    font-size: 10px;
    display: inline-grid;
}

a:hover {
    color: oklch(79.43% 0.0631 144.1);
    text-decoration: none;
}

img {
    max-width: 640px;
}